<h1>Company Show Page</h1>
<ul>
    <li><%= company.name %></li>
    <li><%= company.address %></li>
    <li><%= company.city %></li>
    <li><%= company.telephone %></li>    
</ul>

<img src="<%= company.logo %>" alt="">
